/* || General Styles */

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

:root {
    /* || Typography */
    --font-light: 100;
   --large-text: 48px;
   --medium-text: 18px;
   --small-text: 12px;
   --small-gap: -3px;

   /* || Colors */
   --main-font-color: rgb(38, 38, 38);
   --button-bg-color: darkcyan;
   --light-grey: rgb(241 241 241);
   --dark-grey: rgb(169, 169, 169);
   --dark-red: rgb(206, 73, 73);
   --light-red: rgb(236, 192, 192);
}

body {
    font-weight: var(--font-light);
    color: var(--main-font-color);
    margin: 0 48px 0 48px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



/* || Header */

.title__main {
    font-size: var(--large-text);
    font-weight: var(--font-light);
    letter-spacing: var(--small-gap);
}




/* || Form */

.form {
    width: 50%;
}

.form--control {
    margin-bottom: 32px;
}
.form__input {
    display: block;
    margin: 5px 0 10px 0;
    font-size: var(--medium-text);
}

.form__input__text {
    height: 100px;
    width: 500px;
}

.form__input__date {
    height: 50px;
    width: 180px;
}

.form__button {
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: var(--button-bg-color);
    color: white;
    font-size: var(--medium-text);
    font-weight: var(--font-light);
}



/* || Todos */
.todos--container {
    width: 50%;
}

.todo--container {
    border: 1px solid black;
    border-radius: 2px;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: 20px;
}

.todo--controls {
    float: right;
    margin-top: -25px;
    font-size: 14px;
}

.todo__controls__button {
    margin-right: 10px;
    padding: 5px;
    width: 75px;
    border: none;
    border-radius: 2px;
    color: white;
}

.delete {
    background-color: var(--dark-red);
}

.edit {
    background-color: var(--button-bg-color);
}

.todo--completed {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border: none;
}

input[type="checkbox"] {
    background-color: #fff;
    margin: -5px -5px -5px 5px;
    font: inherit;
    width: 15px;
    height: 15px;
    border: 0.5px solid var(--main-font-color);
    border-radius: 1px;
    transform: translateY(3px);
}


/* || Error */
.error--container {
    background-color: var(--light-red);
    color: var(--dark-red);
    font-size: var(--medium-text);
    width: 500px;
    height: 50px;
    margin-bottom: 24px;
    border: 1px solid var(--dark-red);
    border-radius: 2px;
}

.error__message {
    padding: 15px;
}