/* || General Styles */

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

:root {
    /* || Typography */
    --font-light: 100;
   --large-text: 48px;
   --medium-text: 24px;
   --samll-text: 12px;
   --small-gap: -3px;

   /* || Colors */
   --main-font-color: rgb(38, 38, 38);
   --button-bg-color: darkcyan;
}

body {
    font-weight: var(--font-light);
    color: var(--main-font-color);
    margin: 0 48px 0 48px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



/* || Header */

.title__main {
    font-size: var(--large-text);
    font-weight: var(--font-light);
    letter-spacing: var(--small-gap);
}




/* || Form */

.form {
    width: 50%;
}

.form--control {
    margin-bottom: 32px;
}
.form__input {
    display: block;
    margin: 5px 0 10px 0;
}

.form__input__text {
    height: 75px;
    width: 300px;
}

.form__input__date {
    height: 30px;
    width: 125px;
}

.form__button {
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: var(--button-bg-color);
    color: white;
    font-size: var(--small-text);
    font-weight: var(--font-light);
}



/* || Todos */
.todos--container {
    width: 50%;
    border: 1px solid black;
}

.todo--container {
    border: 1px dashed #a7a7a7;
    border-radius: 2px;
    padding: 24px;
    margin-bottom: 24px;
}

.todo--controls {
    float: right;
    font-size: 14px;
}

.todo__controls__button {
    margin-right: 10px;
    padding: 5px;
    width: 75px;
    border: none;
    border-radius: 2px;
    background: #eb96a6;
    color: white;
}

input[type="checkbox"] {
    background-color: #fff;
    margin: -5px -5px -5px 5px;
    font: inherit;
    width: 15px;
    height: 15px;
    border: 0.5px solid var(--main-font-color);
    border-radius: 1px;
    transform: translateY(3px);
}