.hidden {
    visibility: hidden;
}

.close {
    margin-left: 20%;
    border: none;
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    background-color:red;
    color: white;
}

.error {
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgb(249, 174, 174);
    width: 30%;
    padding: 10px;
    margin-top: 25px;
    color: rgb(113, 5, 5);
    font-size: 18px;
}

.todo-list {
    list-style-type: none;
    margin: 0;
}

li[class^=todo-list-item_] {
    font-size: 18px;
}

div[class^=todo-container_] {
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    padding: 15px;
    margin-bottom: 25px
}

span[class^=todo-controls_] button {
    float: right;
    margin: 5px;
}